# Binaries
bin/
skifflet/bin/
plaid/bin/
*.test
*.out

# Artifacts
*.sock
/run/
.vagrant/
test/vagrant/.vagrant/

# Go
go.work
go.work.sum

# Editors
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

context/
